.env
output
static/temp/*
logs
INFO.docx
.~lock.INFO.docx#
database/add_app_user.py
database/multiple_filters.json
checklist.xls
initdb/check_orphan.sql
initdb/creat_primeramplicon_table.sql
initdb/foreign_key.sql
initdb/insert_allmokaprimers.sql
initdb/insert_primer_amplicon.sql
initdb/migrate_chromosome.sql
initdb/migrate_item.sql
initdb/query_moka.sql
initdb/status.sql
